$menuWidth:15%;
html,body,div,ul,li,ol{
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none
}
#m-ui{
	display: flex;
	justify-content: flex-start;
	#m-ui-menu{
		width:$menuWidth;
	}
	#m-ui-container{
		width:100%-$menuWidth;
		.m-ui-content{
			margin-top:36px;
		}
		
	}
	#m-ui-breadcrumb{
		position:fixed;
		top:0;
		right:0;
		width:100%-$menuWidth;
		height:36px;
	}
}